/* projects.css */

:root {
  --project-side-margin: 20px;
  --both-project-side-margin: calc(2 * var(--project-side-margin));
  --fake-side-margin: 0.1px;
  --project-box-width: calc(85vw + var(--both-project-side-margin));
  --num-of-cols: 4;
  --project-panel-width: calc(
    (100% / var(--num-of-cols)) - var(--both-project-side-margin)
  );
  --project-outline-radius: 15px;
}

.project-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: calc(85vw + var(--both-project-side-margin));
  margin: 0 auto;
  padding-top: var(--project-side-margin);
}

.project-panel {
  position: relative;
  list-style: none;
  flex: 0 0 var(--project-panel-width);
  height: 250px;
  margin: var(--project-side-margin);
  text-align: center;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15px 20px;
  border-radius: var(--project-outline-radius);
  /* border: 2px #a9a9a9 solid; */
  background-color: rgba(50, 50, 50, 0.95);
  color: #fff;
  /* background-color: rgba(255, 255, 255, 0.9);
  color: #607674; */
  font-size: 1.4rem;
  font-weight: 200;
  transition: opacity 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.hover-focus {
  opacity: 1;
}

.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--project-outline-radius);
  border: 1px #818181 solid;
}

.project-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background-color: rgba(76, 76, 76, 0.9);
  color: #fff;
  transition: opacity 0.5s ease;
  border-radius: var(--project-outline-radius) var(--project-outline-radius) 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Media query for smaller screens */
@media (max-width: 1600px) {
  :root {
    --num-of-cols: 3;
  }
}

@media (max-width: 1300px) {
  :root {
    --num-of-cols: 3;
  }
}

@media (max-width: 1000px) {
  :root {
    --num-of-cols: 2;
  }
}

@media (max-width: 700px) {
  :root {
    --num-of-cols: 1;
  }
}
